.moviePic{
	height:400px;
	width:300px;
	opacity:0.9;
	margin: 20px auto;
	display: block;
}
.movieDetail{
	position:relative;
	top:20px;
	width:60%;
	text-align:center;
	font-size:10px;
	margin: auto;
}
/* Your CSS Code here. */